.edit-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.imgur.com/6JfBbpl.jpg');
    background-size: cover;
}

.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
}

.progress-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.info-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    cursor: pointer;
}

.update-btn {
    padding: 15px 20px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.update-btn:hover {
    background: #333;
}

.custom-file-label,
.custom-date-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #999;
    transition: all 0.3s ease;
}

.custom-file-input,
.custom-date-input {
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-file-input:focus + .custom-file-label,
.custom-date-input:focus + .custom-date-label {
    color: #000;
}

/* Additional styles to keep label and input together */
.form-group {
    position: relative;
}

/* Hide the default file input button */
.custom-file-input::-webkit-file-upload-button {
    display: none;
}

.form-group.custom-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #000;
    opacity: 1; /* Firefox */
}
.custom-file-label,
.custom-date-label {
    position: static;
    margin-bottom: 5px;
    color: #000000;
}

.custom-file-input,
.custom-date-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #ffffff;
}



