.checkout-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left; /* Align left to give a more structured look */
    font-family: 'Arial', sans-serif; /* Set a standard font, adjust as needed */
}

.order-summary, .shipping-section, .contact-section, .payment-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.payment-error {
    color: red;
    font-size: 16px;
    margin: 10px 0;
}


h2 {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
    border-bottom: 1px solid #e0e0e0; /* Separator line */
    padding-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.order-item img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.order-item span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Arial', sans-serif;
}

.review-order {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Arial', sans-serif;
}

.review-order h2 {
    align-self: flex-start;
}

.review-order span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #e0e0e0;
}

.review-order span:last-child {
    border-bottom: none;
}

.StripeElement {
    background-color: white;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
}

.place-order-button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
    width: 100%;
}

.place-order-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.place-order-button:hover {
    background-color: #333;
}
