.forgot-password-container {
    width: 400px;
    margin: 100px auto 50px;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.forgot-password-container input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-container button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.forgot-password-container .forgot-password-error {
    color: red;
    text-align: center;
}

.forgot-password-container .forgot-password-links {
    text-align: center;
    margin-top: 10px;
}

.forgot-password-container button:hover {
    background: #0056b3;
}


