.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* Changed from compact to flex */
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: center;
}


.footer .overlap {
    background-color: #c4c4c41a;
    height: 0;
    width: 100%;
}

.footer .copyright {
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    margin-right: 30px;
}

.footer .element {
    height: 9px;
    width: 125px;
}

.footer .overlap-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 117px;
    width: 184px;
    margin-top: 24px;

}

.footer .img {
    height: 9px;
    width: 125px;
}

.footer .support-openui {
    color: #333333;
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 10px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer .group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer .about,
.footer .contact,
.footer .blog {
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 10px;
    text-align: center;
    margin-top: 17px;
    margin-right: 30px;
}

.footer.light-theme {
    background-color: #ffffff;
}



.footer.light-theme .about-link,
.footer.light-theme .contact,
.footer.light-theme .blog {
    color: #555555;
}

.footer.light-theme .copyright {
    color: #555555;
    background-color: #ffffff;
}

/* Dark theme */
.footer.dark-theme {
    background-color: #121212;
}


.footer.dark-theme .about-link,
.footer.dark-theme .contact,
.footer.dark-theme .blog {
    color: #fff;
}
.footer.dark-theme .copyright{
    background-color: #121212;
    color: #ffffff;
}

.about-link {
    text-decoration: none;
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 10px;
    text-align: center;
    margin-top: 17px;
    margin-right: 30px;
}

.about-link:hover {
    text-decoration: underline;
}

.footer .contact {
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 10px;
    text-align: center;
    margin-top: 17px;
    text-decoration: none;
    color: inherit;
}

.footer .contact:hover {
    text-decoration: underline;
}

.footer .blog {
    font-family: "Tenor Sans-Regular", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 10px;
    text-align: center;
    margin-top: 17px;
    text-decoration: none;
color: inherit;
}

.footer .blog:hover {
    text-decoration: underline;
}


