.product-page.fade-in {
    opacity: 1; /* Fully visible */
}

.product-page {
    margin-top: 80px; /* Adjust based on your header height */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}

.product-image-container {
    max-width: 50%;
    height: auto;
}

.product-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    transition: transform 0.3s ease; /* Smooth image zoom */
}

.product-image-container:hover .product-image {
    transform: scale(1.1); /* Zoom effect on hover */
}

.product-info {
    flex: 1;
    padding: 20px;
}

.product-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
}

.product-loading {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    opacity: 0.5; /* Semi-transparent loading text */
}

.product-options {
    display: flex;
    gap: 10px;
}

.product-size {
    padding: 5px;
    font-size: 14px;
}

.product-quantity {
    width: 50px;
    padding: 5px;
    font-size: 14px;
}

.product-total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
}


.add-to-cart-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
    background-color: #555;
}



